.container{
	width: 500px;
	text-align: center;
	margin-bottom: 100px;
}

.container button{
	box-sizing: border-box;
	width: 100%;
	margin: 10px auto;
}

.container small{
	display: block;
	width: 100%;
	text-align: justify;
}

#message{
	display: block;
	margin-bottom: 5px;
}
@media only screen and (max-width: 500px){
	.container{
		
		margin: 0;
		padding: 0;
		width: 100%;
		margin-top: 100px;
	}
}
