/*****************
****NO TOCAR*****
*****************

Si necesitas agregarle diseño a tu bullshit individual, crea un css aparte
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body, html{
	width: 100%;
	height: 100%;
}
body{
	font-family: 'Roboto', 'Open Sans Condensed', sans-serif;
	background-color: #000;
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	padding: 0;
	padding-top: 1px;
	padding-bottom: 20px;
	margin: 0;
	background-color: #FFF;
	background-image: url("../img/pizza-corner.png");
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	box-shadow: 0 0 50px #000;
}

h1{
	font-size: 48px;
}
h1 > small{
	font-size: 20px;
	margin-left: 10px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 28px;
}
p{
	font-size: 24px;
}
strong, b{
	font-weight: bold;
	color: #000;
}
a{
	text-decoration: none;
}

div#navbar{
	font-family: 'Open Sans Condensed', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	z-index: 1;
}

#nav-icon{
	display: none;
	width: 27px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	margin: 13px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	/*-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;*/
	cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #FFF;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;/*
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;*/
}

#nav-icon span#first {
  top: 0px;
}

#nav-icon span#second,#nav-icon span#third {
  top: 8px;
}

#nav-icon span#fourth {
  top: 16px;
}

#nav-icon.open span{
	background-color: #900;
}
#nav-icon.open span#first {
  top: 8px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span#second {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span#third {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span#fourth {
  top: 16px;
  width: 0%;
  left: 50%;
}

#logo{
	display: block;
	float: left;
	margin-left: 20px;
	margin-top: 8px;
}

#logo img{
	max-width: 100%;
	max-height: 100%;
}


#navbar > ul{
	list-style-type: none;
	margin: 0;
	margin-right: 10px;
	padding: 0;
	float: right;
}

#navbar > ul > li{
	float: left;
}

#navbar a{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

#navbar > ul > li > a{
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 15px 10px;
	color: #fff;
	border-bottom: 5px solid #000;
}

#navbar > ul > li:hover > a,
#navbar > ul > li:active > a,
#navbar > ul > li:focus > a{
	color: #F33;
	border-color: #F33;
}

#navbar > ul > li > a.active{
	color: #FFFF66;
	border-color: #FFFF66;
}

#navbar > ul > li.dropdown > a{
	cursor: pointer;
}

#navbar > ul > li > ul{
	display: none;
	position: absolute;
	list-style-type: none;
	background-color: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit- transition: 0.5s;
}

#navbar > ul > li > ul > li{
	display: block;
}

#navbar > ul > li > ul > li > a{
	display: block;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
}

#navbar > ul > li > ul > li > a.active,
#navbar > ul > li > ul > li:hover > a.active,
#navbar > ul > li > ul > li:active > a.active,
#navbar > ul > li > ul > li:focus > a.active{
	color: #FFFF66;
	background-color: #000;
}

#navbar > ul > li > ul > li:hover > a,
#navbar > ul > li > ul > li:active > a,
#navbar > ul > li > ul > li:focus > a{
	background-color: #f33;
}

#navbar > ul > li.dropdown:hover > ul,
#navbar > ul > li.dropdown:active > ul,
#navbar > ul > li.dropdown:focus > ul{
	display: block;
}

#navbar > ul > li.user > a{
	color: #CCC;
}

#navbar > ul > li.user:hover > a,
#navbar > ul > li.user:active > a,
#navbar > ul > li.user:focus > a{
	color: #09C;
	border-color: #000;
}

#navbar > ul > li.user > ul > li:hover > a,
#navbar > ul > li.user > ul > li:active > a,
#navbar > ul > li.user > ul > li:focus > a{
	background-color: #333;
}

.container{
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
	padding: 25px 50px;
	background-color: #DDD;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	color: #333;
	font-size: 24px;
}

.container *{
	box-sizing: border-box;
}

.row{
	width: 100%;
	padding: 10px;
	overflow:hidden;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 5px;
}

[class*="col-"] button{
	margin: 0;
    width: 100%;
}


input, textarea, select, button{
	display: block;
	padding: 15px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	outline: none;
	border-radius: 2px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

input, textarea, select{
	width: 100%;
	border: 1px solid #999;
	color: #444;
}

button{
	min-width: 240px;
	border: none;
	margin: 20px 10px;
	background-color: #006699;
	color: #fff;
}

button:hover{
	background-color: #990000;
	cursor: pointer;
}

button.btn-sm{
	min-width: 0;
	padding: 5px;
	margin: 5px;
	font-size: 14px;
}
		
button.btn-md{
	min-width: 0;
	font-size: 18px;
	padding: 10px;
	margin: 5px;
}

.btn-default{ color: #333; background-color: #CCC; }
.btn-default:hover{ color: #FFF; background-color: #333; }

.btn-info{ background-color: #069; }
.btn-info:hover{ background-color: #036; }

.btn-success{ background-color: #094; }
.btn-success:hover{ background-color: #062; }

.btn-warning{ background-color: #FA3; }
.btn-warning:hover{ background-color: #C60; }
.btn-danger{ background-color: #f33; }
.btn-danger:hover{ background-color: #900; }

textarea{
	resize: vertical;
}
input:hover, textarea:hover, select:hover,
input:active, textarea:active, select:active,
input:focus, textarea:focus, select:focus{
	background-color: #ffffcc;
	border-color: #900;
	}

input[type="radio"], input[type="checkbox"]{
	display: inline;
	width: 25px;
}

input:disabled, select:disabled{
	background-color: #CCC;
	color: #444;
	border-color: #444;
}

.footer-cover{
	width: 100%;
	height: 295px;
}

.footer{
	width: 100%;
	height: 295px;
	color: #999;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: -1;
	background-image: url("../img/background-slice.png");
	background-position: right top;
	font-family: "Open Sans Condensed", "Roboto", "Open Sans", sans-serif;
}

.footer .text{
	float: left;
	width: 25%;
	height: 100%;
	background-color: #000;
	color: #CCC;
	padding-left: 20px;
}

.footer strong{
	color: #999;
}

.footer p, li{
	font-size: 16px;
}

.table{
	max-width: 100%;
	overflow-x: auto;
}
table{
	margin: 0 auto;
	border-collapse: collapse;
}

tr{
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.3s;
}

tr:nth-child(odd){
	background-color: #f5f5f5;
}

th{
	background-color: #006699;
	color: #fff;
	padding: 15px;
}

td{
	padding: 15px;
	border-bottom: 1px solid #DDD;
}

tr:hover,
tr:active,
tr:focus,
tr:nth-child(odd):hover,
table tr:nth-child(odd):active,
table tr:nth-child(odd):focus{
	background-color: #ACF;
}

.form-group{
	margin: 20px 0;
	color: #777;
}

.sample{
	width: 100%;
	padding: 100px 0;
	margin: 0 auto;
	color: #fff;
	background-color: #666;
	font-size: 20px;
	text-align: center;
}

.text-success{ color: #094; }
.text-info{ color: #069; }
.text-warning{ color: #FA3; }
.text-danger{ color: #f33; }

@media screen and (min-width:800px) and (min-height: 840px){
	.wrapper{
		background-size: auto;
	}
}

@media screen and (max-width: 1000px){
	.wrapper{
		background-size: auto 50%;
	}
	#logo{
		float: none;
		display: block;
		max-width: 50%;
		margin: 8px auto;
	}
	#navbar > ul{
		overflow: hidden;
		display: block;
		float: none;
		margin-left: 20px;		
	}
	#navbar > ul > li > a{
		padding-top: 15px;
		font-size: 16px;
	}
	
	#navbar > ul > li > ul > li > a{
		font-size: 15px;
		padding: 10px;
	}
	
	#navbar > ul > li.user{
		float: right;
	}
	
	.container{
		width: 90%;
		padding: 10px;
		margin-top: 140px;
	}
	
	.col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
	button{
		margin: 20px auto;
	}

	.footer{
		background-size: 155px 210px;
	}
	.footer .text{
		width: 50%;
	}
}

@media screen and (max-width: 768px){
	h1 > small{
		display: block;
		margin-left: 0;
	}
	.wrapper{
		background-size: 50%;
	}
	div#navbar{
		max-height: 100%;
		overflow-y: auto;
	}

	#nav-icon{
		display: block;
	}

	#logo{
		max-width: 75%;
		height: 40px;
		margin: 5px 0;
		margin-left: 5px;
	}
	#navbar > ul{
		display: none;
		background-color: #000;
		margin: 0;
		-webkit-transition: height 1s;
		-moz-transition: height 1s;
		-o-transition: height 1s;
		transition: height 1s;
	}
	#navbar > ul > li{
		float: none;
		width: 100%;
	}
	#navbar > ul > li >a{
		text-align: center;
		border: none;
		transition: background-color 0.5s;
	}
	#navbar > ul > li:hover > a,
	#navbar > ul > li:active > a,
	#navbar > ul > li:focus > a{
		background-color: #006699;
		color: #FFF;
	}
	
	#navbar > ul > li:hover > a.active,
	#navbar > ul > li:active > a.active,
	#navbar > ul > li:focus > a.active{
		background: none;
		color: #FF6;
	}

	#navbar > ul > li > ul{
		position: relative;
		background-color: #333;
	}	

	#navbar > ul > li > ul > li{
		width: 100%;
	}

	#navbar > ul > li > ul > li:hover > a,
	#navbar > ul > li.user > ul > li:hover > a,
	#navbar > ul > li > ul > li:active > a,
	#navbar > ul > li.user > ul > li:active > a,
	#navbar > ul > li > ul > li:focus > a,
	#navbar > ul > li.user > ul > li:focus a{
		background-color: #066;
	}
	
	#navbar > ul > li.user:hover > a,
	#navbar > ul > li.user:active > a,
	#navbar > ul > li.user:focus > a{
		background-color: #069;
		color: #DDD;
	}
	
	.container{
		box-sizing: border-box;
		width: 100%;
		padding: 20px;
		margin-top: 70px;
		padding-bottom: 20px;
		border-radius: 0;		
	}
	
	[class*="col-"]{
		width: 100%;
	}
	
	button{
		width: 100%;
	}
	
	.footer-cover{
		height: 340px;
		opacity:  0;
	}
	
	.footer{
		position: fixed;
		height: 290px;
		background-position: left top;
		margin: 0;
		padding: 25px 0;
	}
	.footer .text{
		float: left;
		width: 90%;
		height: 100%;
		background-color: #000;
		background-color: rgba(0,0,0,0.93);
		margin: 0;
		margin-left: 5%;
		padding: 0;
	}
}
